html,
body {
  background-color: aqua;
  width: 100%;
  height: 100%;
}
header {
  background-color: bisque;
  grid-area: header;
}

main {
  background-color: chartreuse;
  grid-area: main;
}

footer {
  background-color: darkblue;
  grid-area: footer;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 45% 30%;
  grid-template-columns: 2;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
